<div class="invoice">
    <div class="head">
        <div class="heading">
            <h1>Invoice - ({{singleStudentInfo.studentId}})</h1>
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
        <div class="buttons">
            <button class="btn" routerLink="/newinvoice"><i class="pi pi-user-edit"></i>Create New Invoice</button>
            <button class="btn" [routerLink]="['/studentinfo', singleStudentInfo.studentId]"><i class="pi pi-user"></i>View Profile</button>
            <button class="btn" routerLink="/students"><i class="pi pi-users"></i>Student List</button>
            <button class="btn" [routerLink]="['/invoiceprint',singleStudentInfo.studentId]" ><i class="pi pi-users"></i>Download</button>
        </div>
    </div>
    <form [formGroup]="addInvoice" >
      <div class="form-main">
        <div class="grid in-form">
            <div class="col-12 md:col-6 lg:col-6">
                <div class="grid invoice-form">
                    <div class="col-12 md:col-6 lg:col-6 ">
                        <label for="float-input">Student ID</label>
                        <input type="text" [(ngModel)]="student" [value]="student"  formControlName="studentId" pInputText class="p-inputtext-md" placeholder="Student Id">  
                    </div>
                    <div class="col-12 md:col-6 lg:col-6 ">
                        <label for="float-input">Student Name</label>
                        <input type="text" [value]="stname" [(ngModel)]="stname" formControlName="studentName" pInputText class="p-inputtext-md" placeholder="Name">  
                    </div>
                    <div class="col-12 md:col-6 lg:col-6 ">
                        <label for="float-input">Enrolment Date</label>
                        <input type="text" [(ngModel)]="enrol" [value]="enrol" formControlName="enrolmentDate" pInputText class="p-inputtext-md" placeholder="Enrolment Date">  
                    </div>
                    <div class="col-12 md:col-6 lg:col-6 ">
                        <label for="float-input">End Date</label>
                        <p-calendar formControlName="endDate" [(ngModel)]="calenderValue"  class="p-inputtext-md" placeholder="End Date"></p-calendar>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4 ">
                        <label for="float-input">Fees</label>
                        <p-inputNumber formControlName="fees"  onkeyup="discountPercent(e.value)"  placeholder="Fees" class="p-inputtext-md" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <label for="float-input">Total Payable</label>
                        <p-inputNumber formControlName="totalPayable"  placeholder="Total Payable" class="p-inputtext-md" mode="currency" currency="USD" locale="en-US"></p-inputNumber>               
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <label for="float-input">Discount</label>
                        <p-inputNumber formControlName="discount"  prefix="%"  placeholder="Discount" class="p-inputtext-md"></p-inputNumber>  
                    </div>
                    <div class="col-12 md:col-4 lg:col-4 ">
                        <label for="float-input">Payment Method</label>
                        <p-dropdown formControlName="paymentMethod"  [options]="paymentMethods" [(ngModel)]="selectedPaymentMethods" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <label for="float-input">Status</label>
                        <p-dropdown formControlName="status" [options]="paymentStatus" [(ngModel)]="selectedPaymentStatus" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4 ">
                        <label for="float-input">Invoice ID</label>
                        <input type="text" formControlName="invoiceId" pInputText class="p-inputtext-md" placeholder="Invoice ID">  
                    </div>
                    <div class="col-12 md:col-12 lg:col-12 ">
                        <label for="float-input">Note</label>
                        <textarea formControlName="Note" rows="5" cols="30" pInputTextarea></textarea>
                    </div>
                      <button class="btn" (click)="onSubmit()"><i class=""></i>Received Payment</button>
                </div>
                
                <!-- [routerLink]="['/invoiceprint', singleStudentInfo.studentId]" -->
            </div>
            <div class="col-12 md:col-5 lg:col-5">
                <div class="recent-payment">
                   <h3>Recent Invoices</h3>
                   <table style="width: 100%;">
                    <tr >
                      <th class="up-th">Invoice ID & Date</th>
                      <th class="up-th">Status</th>
                      <th class="up-th">Date</th>
                    </tr>
                    <tr>
                      <td>FS0025 <br> 06-07-2022</td>
                      <td><span style="background:green;padding:3px 8px;border-radius: 3px;color: white; ">Paid</span></td>
                      <td>View</td>
                    </tr>
                    <tr>
                      <td>FS0028 <br> 08-07-2022</td>
                      <td><span style="background:green;padding:3px 8px;border-radius: 3px;color: white; ">Paid</span></td>
                      <td >View</td>
                    </tr>
                    <tr>
                      <td>FS0082 <br> 09-07-2022</td>
                      <td><span style="background:green;padding:3px 8px;border-radius: 3px;color: white; ">Paid</span></td>
                      <td>View</td>
                    </tr>
                    
                  </table>

                </div>
            </div>
        </div>
      </div>
    </form>
</div>



