.student-payment{
    background: white;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    padding: 50px;
    border-radius: 5px;
}
.table-header{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.p-inputtext{
    padding: 11px 30px!important;
}