<div class="add-teacher">
    <h1 class="heading">Add New Teacher</h1>
    <div class="form-area">
        <form [formGroup]="addTeacher"  (ngSubmit)="onSubmit()"  >
    <!--  START PERSONAL INFO -->
        <div class="head">
            <h2 class=""><i class="pi pi-user"></i>Personal Information</h2>
        </div>

        
        <div class="form-main">
            <div class="image">
                <img src="../../../assets/students/p1.png" alt="">
                <div class="overlay">
                    <i class="pi pi-upload"></i>
                </div>
            </div>
            <p class="image-p">Max File Size 1 MB</p>
            <div class="form-input personal-info">
                <div class="grid">
                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Full Name</label>
                        <input type="text" formControlName="fullname" pInputText placeholder="Full Name" class="p-inputtext-sm"  />
                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Teacher ID</label>
                        <input type="text" [value]="teacherID" formControlName="teacherId" pInputText placeholder="Student ID" class="p-inputtext-sm"/>

                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Date of Birth</label>
                        <p-calendar  appendTo="body" formControlName="birthdate" dateFormat="dd/mm/yy" placeholder="Birthdate" ></p-calendar>
                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Gender</label>
                        <p-dropdown class="p-inputtext-sm" formControlName="gender" placeholder="Gender" [options]="gender" optionLabel="name"></p-dropdown>
                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Mobile Number</label>
                        <input type="text" formControlName="mobile" pInputText placeholder="Mobile Number" class="p-inputtext-sm"/>
                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Email</label>
                        <input type="text" formControlName="email" pInputText placeholder="Email" class="p-inputtext-sm"/>
                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Address</label>
                        <input type="text" formControlName="address"pInputText placeholder="Address" class="p-inputtext-sm"/>
                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Street/City</label>
                        <input type="text" formControlName="street"pInputText placeholder="Street/City" class="p-inputtext-sm"/>
                    </div>

                    <div class="col-12 md:col-3 lg:col-4 field">
                        <label for="float-input">Post Code</label>
                        <input type="text" formControlName="postcode" pInputText placeholder="Post Code" class="p-inputtext-sm"/>
                    </div>

                    <div class="col-12 md:col-3 lg:col-3 field">
                        <label for="float-input">Joining Date</label>
                        <p-calendar class="input-calender p-inputtext-sm" formControlName="joiningdate" placeholder="dd/mm/yy"></p-calendar>                  
                    </div>

                    <div class="col-12 md:col-3 lg:col-3 field">
                        <label for="float-input">Ni Number</label>
                        <input type="text" formControlName="niNumber" pInputText placeholder="Ni Number" class="p-inputtext-sm"/>                  
                    </div>
                    <div class="col-12 md:col-2 lg:col-3 field">
                        <label for="float-input">Hourly Rate</label>
                        <p-inputNumber placeholder="$10.00" formControlName="hourlyRate" style="display:block" mode="currency" currency="USD"></p-inputNumber>
                     </div>

                    <div class="col-12 md:col-2 lg:col-3 field">
                            <label for="float-input">Avg. Hour</label>
                            <p-inputNumber  formControlName="avgHour" placeholder="2 Hours"></p-inputNumber>
                    </div>
                    <div class="col-12 md:col-3 lg:col-3 field">
                        <label for="float-input">Emergency Contact 1</label>
                        <input type="text" formControlName="emergency1" pInputText placeholder="Emergency" class="p-inputtext-sm"/>
                        <!-- <p-multiSelect placeholder="Class" class="p-inputtext-sm" formControlName="yeargroup"  [options]="yearGroup" optionLabel="name" display="chip"></p-multiSelect> -->
                    </div>

                    <div class="col-12 md:col-4 lg:col-3 field">
                        <label for="float-input">Email of person 1</label>
                        <input type="text" formControlName="email1" pInputText placeholder="Email" class="p-inputtext-sm" />
                    </div>

                    <div class="col-12 md:col-4 lg:col-3 field">
                        <label for="float-input">Number of person 1</label>
                        <input type="text" formControlName="number1" pInputText placeholder="Number" class="p-inputtext-sm"/>
                    </div>

                    <div class="col-12 md:col-4 lg:col-3 field">
                        <label for="float-input">Relationship with person 1</label>
                        <input type="text" formControlName="relation1" pInputText placeholder="Relationship" class="p-inputtext-sm"/>              
                    </div>

                    <div class="col-12 md:col-3 lg:col-3 field">
                        <label for="float-input">Emergency Contact 2</label>
                        <input type="text" formControlName="emergency2" pInputText placeholder="Emergency" class="p-inputtext-sm"/>
                        <!-- <p-multiSelect placeholder="Class" class="p-inputtext-sm" formControlName="yeargroup"  [options]="yearGroup" optionLabel="name" display="chip"></p-multiSelect> -->
                    </div>

                    <div class="col-12 md:col-4 lg:col-3 field">
                        <label for="float-input">Email of person 2</label>
                        <input type="text" pInputText formControlName="email2" placeholder="Email" class="p-inputtext-sm" />
                    </div>

                    <div class="col-12 md:col-4 lg:col-3 field">
                        <label for="float-input">Number of person 2</label>
                        <input type="text" pInputText formControlName="number2" placeholder="Number" class="p-inputtext-sm"/>
                    </div>

                    <div class="col-12 md:col-4 lg:col-3 field">
                        <label for="float-input">Relationship with person 2</label>
                        <input type="text" pInputText formControlName="relation2" placeholder="Relationship" class="p-inputtext-sm"/>
                    </div>
                   
              </div>
            </div>
        </div>
        
         <!-- END PERSONAL INFO -->
        <!--  ACADEMIC INFO -->
            <div class="head">
                <h2 class=""><i class="pi pi-pencil"></i>Academic Information</h2>
            </div>
            <div class="form-main academic-info">
               <div class="form-input ">
                            <div class="col-sm-12 table-responsive" formArrayName="selectedClass">
                            <!-- Form starts  -->
                            <form [formGroup]="selectedClass" onsubmit="addMore()">
                                <table class="table">
                                
                                <tbody>
                                  <tr class="dynamic-row" style="background: rgb(247, 247, 247)">
          
                                    <td class="col-12 md:col-3 lg:col-3 field"> 
                                    <p-dropdown placeholder="Schedule Time" 
                                      class="p-inputtext-sm form-control"
                                      formControlName="scheduleTime"  
                                     [options]="sctime"
                                      optionLabel="name" 
                                      optionValue="name">
                                    </p-dropdown> 

                                    </td>
                                    <td class="col-12 md:col-2 lg:col-3 field"> 
                                        <p-dropdown placeholder="Schedule Day" 
                                         class="p-inputtext-sm form-control" 
                                         formControlName="scheduleDay" 
                                         [options]="day"
                                         optionLabel="name" 
                                         optionValue="name">
                                       </p-dropdown> 
                                    </td>
                                    <td class="col-12 md:col-2 lg:col-2 field"> 
                                        <p-dropdown placeholder="Subjects" class="p-inputtext-sm form-control" formControlName="subject" [options]="subjects"
                                            optionLabel="name" optionValue="name">
                                        </p-dropdown> 
                                    </td>
                                    <td class="col-12 md:col-2 lg:col-2 field"> 
                                        <p-dropdown placeholder="Sub Subjects" class="p-inputtext-sm form-control" formControlName="subSubject" [options]="subSubject"
                                           optionLabel="name" optionValue="name">
                                        </p-dropdown> 
                                    </td>
                                    <td class="col-12 md:col-3 lg:col-2 field">
                                        <p-dropdown placeholder="Year Group" class="p-inputtext-sm form-control" formControlName="yearGroup" [options]="yearGroup"
                                            optionLabel="name" optionValue="name">
                                     </p-dropdown> 
                                    </td>
                                    <td class="col-12 md:col-2 lg:col-3" style="display:flex"> 
                                        <!-- <button *ngIf="getItemRow.length > 1" (click)="deleteRow(i)" class="btn btn-danger"><i class="pi pi-minus" aria-hidden="true"></i></button> -->
                                        <button style="margin-top: 7px;" type="button"
                                         (click)="addMore()" 
                                         class="btn btn-primary">
                                         <i class="pi pi-plus" aria-hidden="true">
                                         
                                        </i>
                                    </button>
                                    </td>
                                  
                                </tr>


                                

                                </tbody>
                              </table> 
                            </form>
                            
                                <div class="card" *ngIf="infoList.length > 0">
                                    <p-table [value]="infoList"  #dt1
                                    styleClass="p-datatable-gridlines"
                                    dataKey="id"
                                    [rows]="20" 
                                    [showCurrentPageReport]="true"
                                    [rowHover]="true"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [globalFilterFields]="['studentname','subject','schedualeday','action']">
                                    >
                                      <ng-template pTemplate="caption">
                                        <div class="flex">
                                    
                                            
                                         
                        
                                        </div>
                                       </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pSortableColumn="scheduleTime" >Schedule Time <p-sortIcon field="scheduleTime"></p-sortIcon></th>
                                                <th pSortableColumn="scheduleDay">Schedule Day <p-sortIcon field="scheduleDay"></p-sortIcon></th>
                                                <th pSortableColumn="subject">Subject <p-sortIcon field="subject"></p-sortIcon></th>
                                                <th pSortableColumn="subSubject">Sub Subject <p-sortIcon field="subSubject"></p-sortIcon></th>
                                                <th pSortableColumn="yearGroup">Year Group <p-sortIcon field="yearGroup"></p-sortIcon></th>
                                                <th pSortableColumn="action">Action<p-sortIcon field="action"></p-sortIcon></th>
                                           
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-schedule>
                                            <tr  style="cursor: pointer;">
                                                <td>{{schedule.scheduleTime}}</td>
                                                <td>{{schedule.scheduleDay}}</td>
                                                <td>{{schedule.subject}}</td>
                                                <td>{{schedule.subSubject}}</td>
                                                <td>{{schedule.yearGroup}}</td>
                                              
                                                <td style="text-align:center;">
                                                    <i class="pi pi-pencil st-icon"></i>
                                                    <i class="pi pi-trash st-icon"></i>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div> 
                              
                           </div>
                        
            </div>
       <!-- END ACADEMIC INFO -->
        <!--  OTHER INFO -->
        <div class="form-main academic-info">
            <div class="form-input ">
                <div class="grid">
                   
                </div>
            </div>
        </div>
        </div>
       <!-- END OTHER INFO -->
       <button class="form-button" type="submit"  >Submit</button>

       
      
        </form>
    </div>

