<div class="accounts">
    <div class="head">
        <div class="heading">
            <h1>Accounts</h1>
            <p-breadcrumb [model]="items"></p-breadcrumb> 
        </div>
        <div class="buttons">
            <button class="btn"><i class="pi pi-cloud-download"></i>Export</button>

        </div>
    </div>
 
    <div class="main-table">
        <div class="card">
            <p-table [value]="allInvoice"  #dt1
            styleClass="p-datatable-gridlines"
            dataKey="id"
            [rows]="8" 
            [showCurrentPageReport]="true"
            [paginator]="true"
            [rowHover]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['studentname','subject','schedualeday','action']">
            >
            <ng-template pTemplate="caption">
                <div class="flex">
            
                    <span>
                        <button class="btn" routerLink="/newinvoice" > <i class="pi pi-user-plus"></i>New Invoice</button>
                    </span>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event, 'contains')" placeholder="Search keyword" />
                    </span>

                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="studentId">Student ID <p-sortIcon field="studentId"></p-sortIcon></th>
                        <th pSortableColumn="studentName">Student Name <p-sortIcon field="studentName"></p-sortIcon></th>
                        <th pSortableColumn="invoiceId">Invoice No. <p-sortIcon field="invoiceId"></p-sortIcon></th>
                        <th pSortableColumn="endDate">Amount <p-sortIcon field="endDate"></p-sortIcon></th>
                        <th pSortableColumn="endDate">Method <p-sortIcon field="endDate"></p-sortIcon></th>
                        <th pSortableColumn="endDate">Views <p-sortIcon field="endDate"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-allInvoice>
                    <tr style="cursor: pointer;">
                        <td>{{allInvoice.studentId}}</td>
                        <td>{{allInvoice.studentName}}</td>
                        <td>{{allInvoice.invoiceId}}</td>
                        <td>$.{{allInvoice.totalPayable}}</td>
                        <td>{{allInvoice.paymentMethod}}</td>
                        <td style="text-align:center;">
                            <i class="pi pi-pencil st-icon"></i>
                            <i class="pi pi-trash st-icon"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <div class="total-card">
                <img src="../../../assets/income/icon.png" alt="">
                <div class="text">
                     <p>Total Income</p>
                     <h2>${{totalIncome}}</h2>
                </div>
             </div>

        </div>
    </div>
</div>
