<div class="register">
    <div class="head">
        <div class="heading">
            <h1>Register</h1>
            <p-breadcrumb [model]="items"></p-breadcrumb> 
        </div>
        <div class="buttons">
            <button class="btn" ><i class="pi pi-cloud-download"></i>Export</button>
        </div>
    </div>
 
    <div class="main-table">
        <div class="card">
            <p-table [value]="allRegisters"  #dt1
            styleClass="p-datatable-gridlines"
            dataKey="id"
            [rows]="8" 
            [showCurrentPageReport]="true"
            [paginator]="true"
            [rowHover]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['studentname','subject','schedualeday','action']">
            >
            <ng-template pTemplate="caption">
                <div class="flex">
            
                    <span>
                        <button class="btn" (click)="showRegisterDialog()" > <i class="pi pi-user-plus"></i> Add New Register</button>
                    </span>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event, 'contains')" placeholder="Search keyword" />
                    </span>

                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" >Date <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="studentname">Day<p-sortIcon field="studentname"></p-sortIcon></th>
                        <th pSortableColumn="year">Time <p-sortIcon field="year"></p-sortIcon></th>
                        <th pSortableColumn="subject">Tutor Name <p-sortIcon field="subject"></p-sortIcon></th>
                        <th pSortableColumn="schedualeday">Students Attended<p-sortIcon field="schedualeday"></p-sortIcon></th>
                        <th pSortableColumn="schedualetime">Planned Missing<p-sortIcon field="schedualetime"></p-sortIcon></th>
                        <th pSortableColumn="action">Unplanned Missing<p-sortIcon field="action"></p-sortIcon></th>
                        <th pSortableColumn="action">Action<p-sortIcon field="action"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-allRegisters let-i="index">
                    <tr style="cursor: pointer;">
                        <td>{{allRegisters.date.substring(0,10)}}</td>
                        <td>{{allRegisters.day}}</td>
                        <td>{{allRegisters.time}}</td>
                        <td>{{allRegisters.tutorName}}</td>
                        <td ><p *ngFor="let item of allRegisters.attendances"> <span *ngIf="item.status ==1 "> {{item.studentName}}</span></p></td>
                        <td ><p *ngFor="let item of allRegisters.attendances"> <span *ngIf="item.status ==2 "> {{item.studentName}}</span></p></td>
                        <td ><p *ngFor="let item of allRegisters.attendances"> <span *ngIf="item.status ==3 "> {{item.studentName}}</span></p></td>
                        <td style="text-align:center;">
                            <i class="pi pi-pencil st-icon"></i>
                            <i class="pi pi-trash st-icon"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div> 
    </div>
</div>


<p-dialog header="Add New Register" [(visible)]="displayRegister" [modal]="true" [style]="{width: '35vw'}">
    <form [formGroup]="addRegister"  (ngSubmit)="onSubmit()" >
    <div class="grid in-form">
        <div class="col-12 md:col-12 lg:col-12">
            <div class="grid invoice-form">
                <div class="col-12 md:col-6 lg:col-6 ">
                    <label for="float-input">Date</label>
                    <p-calendar class="input-calender p-inputtext-sm" formControlName="date" placeholder="dd/mm/yy"></p-calendar>  
                </div>
                <div class="col-12 md:col-6 lg:col-6 ">
                    <label for="float-input">Day</label>
                    <p-dropdown class="p-inputtext-sm" formControlName="day" placeholder="Day" [options]="day" optionLabel="name"></p-dropdown>  
                </div>
                <div class="col-12 md:col-6 lg:col-6 ">
                    <label for="float-input">Time</label>  
                    <!-- <p-calendar class="input-calender p-inputtext-sm" [timeOnly]="true" formControlName="time" placeholder="Time"></p-calendar>   -->
                    <p-dropdown class="p-inputtext-sm" formControlName="time" placeholder="Time" [options]="time" optionLabel="name"></p-dropdown>
                </div>

                <div class="col-12 md:col-6 lg:col-6 ">
                    <label for="float-input">Tutor Name</label>
                    <p-dropdown class="p-inputtext-sm" formControlName="tutor" placeholder="Tutors" [(ngModel)]="selectedTutors" [options]="tutors" optionLabel="name"></p-dropdown>  
                </div>

                <div class="col-12 md:col-12 lg:col-12 ">
                    <label for="float-input">Student Attended</label>
                    <p-multiSelect [options]="attended" formControlName="attended" placeholder="Attended" [(ngModel)]="attendance" optionLabel="name"></p-multiSelect>
                </div>
                 
                <div class="col-12 md:col-6 lg:col-6 ">
                    <label for="float-input">Planned Missing</label>
                    <p-multiSelect [options]="attended" formControlName="planMiss" placeholder="Planned Missing" [(ngModel)]="planned" optionLabel="name"></p-multiSelect>
                </div>

                <div class="col-12 md:col-6 lg:col-6 ">
                    <label for="float-input">Unplanned Missing</label>
                    <p-multiSelect [options]="attended" formControlName="unPlanMiss" placeholder="Unplanned Missing" [(ngModel)]="unplaned" optionLabel="name"></p-multiSelect>
                </div>
            </div>
            
     </div>
    </div>


       <button class="btn reg-btn">Submit Register</button>
       </form>
</p-dialog>
